<div>

  <div style="padding: 4px;" class="toolbar">
    <button (click)="refreshData()">Refresh Data</button>
  </div>

  <div style="padding: 4px;" class="toolbar">
    <input type="checkbox" (click)="toggleShowOnlyPreviousSessions()">Show only current/previous sessions
  </div>

  <div *ngIf="showGrid">

      <!-- Because we are using the Angular ID (ie #ag-grid marker), we have to have all the items that use
           that marker inside the same ng-if as the grid -->
      <ag-grid-ng2 #agGrid style="width: 9000px; height: 350px;" class="ag-material"

        [gridOptions]="gridOptions"
        [columnDefs]="columnDefs"
        [showToolPanel]="showToolPanel"
        [rowData]="rowData"

        enableColResize
        enableSorting
        enableFilter
        groupHeaders
        suppressRowClickSelection
        toolPanelSuppressGroups
        toolPanelSuppressValues
        debug
        rowHeight="60"
        rowSelection="multiple"

        (gridReady)="onGridReady($event)"
      >
      </ag-grid-ng2>
  </div>

</div>
